.header {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 1001;
}

.logo {
  font-family: var(--secondary-font-family);
}

.logo span:first-child {
  color: var(--bold-accent-color);
}

.menu_btn {
  border: none;
  appearance: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

@media (min-width: 1024px) {
  .header {
    padding: 2em 0;
  }
}


