.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-gradient);
  border-radius: 8px;
  box-shadow: 6px 8px 40px 0 rgba(24, 24, 24, 0.1);
}

/* @media (min-width: 1024px) {
  .card {
    grid-row: span 7;
  }

  .card:nth-of-type(1) {
    grid-row: 1 / span 7;
  }

  .card:nth-of-type(2) {
    grid-row: 2 / span 7;
  }
} */

.content {
  padding: 2.5rem 2rem;
}

.content p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.content h3 {
  font-size: 28px;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.25px;
  margin: 1.5rem 0 0.5rem;
}

.content h4 {
  font-size: 20px;
  font-family: var(--secondary-font-family);
  color: var(--terciary-color);
  margin-bottom: 1.5rem;
}

.card img {
  width: 100%;
}
