.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  padding: 6em 0;
}

.greeting {
  font-family: var(--secondary-font-family);
  font-size: 47px;
  margin-bottom: 2rem;
}

.introduction {
  font-family: var(--secondary-font-family);
  font-size: 32px;
  margin-bottom: 2rem;
}

.introduction span {
  color: var(--bold-accent-color);
}

.introduction span:after {
  content: "\A";
  white-space: pre-line;
}

.what_i_do {
  align-self: center;
}

.what_i_do :global(ul) {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .hero {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }

  .hero > h1 {
    grid-column: 1 / 3;
  }
}
