.footer {
  padding: 3em 0;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
}

.links > li {
  padding: 0 0.8em;
}

.footer p {
  text-align: center;
  margin: 2em 0;
  font-size: 0.9em;
}

.footer :global(ul:not(.links)) {
  text-align: center;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
