.contact {
  padding: 10em 0;
  text-align: center;
}

.contact > h3 {
  font-size: 2em;
  margin-bottom: 1.3em;
}

.contact > a {
  padding: 1em 2em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 999px;
}
