:root {
  /* ligth theme */
  --primary-color: var(--pure-white);
  --secondary-color: var(--grey-moon);
  --bold-accent-color: var(--dark-earth);
  --regular-accent-color: var(--light-earth);
  --light-accent-color: var(--light-beige);

  --background-color: var(--primary-color);
  --text-color: var(--secondary-color);

  /* fonts */
  --primary-font-family: "Source Sans Pro", "Helvetica", sans-serif;
  --secondary-font-family: "Fjalla One", "Helvetica", sans-serif;
}
